{% extends "base.html" %}
{% block title %}Flask{% endblock %}
{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning " role="alert">
{{ message }}
</div>
{% endfor %}

<div class="jumbotron jumbotron-fluid">
{% for entry in entries %}
  <div class="container">
    <h1 class="display-3">{{ entry.title }}</h1>
    <p class="lead">{{ entry.text|safe }}</p>
  </div>
  {% else %}
    <h1 class="display-3">No entries here so far</h1>
{% endfor %}
</div>

{% endblock %}
