{% extends "base.html" %}
{% block title %}Flasky{% endblock %}
{% block page_content %}

<div class="page-header">
  <h1>Hello,World</h1>
</div>

{% if session.logged_in %}
<form action="{{url_for('add_entry')}}" method=post class=add-entry>
  <dl>
    <dt>Title:
      <dd><input type="text" size=30 name=title>
        <dt>Text:
          <dd><textarea id="" name="text" cols="40" rows="5"></textarea></dd>
          <dd><input type="submit" value=Share></dd>
        </dt>
      </dd>
    </dt>
  </dl>
</form>
{% endif %}

{% endblock %}
